<a href="https://colab.research.google.com/github/robitussin/CCADMACL_EXERCISES/blob/main/Exercise7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exercise 7

In [45]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [46]:
#reading data
url = "https://github.com/robitussin/CCADMACL_EXERCISES/blob/ff41fec98bd270f4bbeedb9b8849ae21fdeadfee/Groceries_dataset.csv?raw=true"
dataset = pd.read_csv(url)

dataset.head()

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [47]:
client_basket = dataset.groupby(['Member_number', 'Date'])['itemDescription'].apply(list).tolist()

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

### 1. Apply one-hot encoding

In [48]:
one_hot_transformer = TransactionEncoder()
df_transform = one_hot_transformer.fit_transform(client_basket)
df = pd.DataFrame(df_transform, columns=one_hot_transformer.columns_)

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [49]:
df = pd.DataFrame(df_transform,columns=one_hot_transformer.columns_)
df

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,Instant food products,UHT-milk,abrasive cleaner,artif. sweetener,baby cosmetics,bags,baking powder,bathroom cleaner,beef,berries,...,turkey,vinegar,waffles,whipped/sour cream,whisky,white bread,white wine,whole milk,yogurt,zwieback
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,True,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14958,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,True,False
14959,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14960,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14961,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14962,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

2. Use the Apriori Algorithm to find the most frequent sets

In [56]:
df_freq = apriori(df, min_support=0.001, use_colnames=True)
df_freq.sort_values(['support'], ascending=False, inplace=True)
df_freq

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

      support                   itemsets
146  0.157923               (whole milk)
90   0.122101         (other vegetables)
109  0.110005               (rolls/buns)
123  0.097106                     (soda)
147  0.085879                   (yogurt)
..        ...                        ...
344  0.001002       (margarine, chicken)
201  0.001002    (chicken, bottled beer)
202  0.001002  (chocolate, bottled beer)
516  0.001002   (pastry, hamburger meat)
256  0.001002      (butter, brown bread)

[750 rows x 2 columns]

3. Display the association rules using the lift metric

In [51]:
df_ar = association_rules(df_freq, metric="lift", min_threshold=1)

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

In [53]:
df_ar

c:\Users\chescake\anaconda3\envs\olympiaCOM222ML\lib\site-packages\ipykernel\ipkernel.py:283: DeprecationWarning: `should_run_async` will not call `transform_cell` automatically in the future. Please pass the result to `transformed_cell` argument and any exception that happen during thetransform in `preprocessing_exc_tuple` in IPython 7.17 and above.
  and should_run_async(code)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,representativity,leverage,conviction,zhangs_metric,jaccard,certainty,kulczynski
0,(soda),(sausage),0.097106,0.060349,0.005948,0.061253,1.014975,1.0,0.000088,1.000963,0.016341,0.039259,0.000962,0.079906
1,(sausage),(soda),0.060349,0.097106,0.005948,0.098560,1.014975,1.0,0.000088,1.001613,0.015702,0.039259,0.001611,0.079906
2,(yogurt),(sausage),0.085879,0.060349,0.005748,0.066926,1.108986,1.0,0.000565,1.007049,0.107508,0.040913,0.007000,0.081082
3,(sausage),(yogurt),0.060349,0.085879,0.005748,0.095238,1.108986,1.0,0.000565,1.010345,0.104587,0.040913,0.010239,0.081082
4,(other vegetables),(frankfurter),0.122101,0.037760,0.005146,0.042146,1.116150,1.0,0.000536,1.004579,0.118536,0.033261,0.004558,0.089214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
235,(root vegetables),(hygiene articles),0.069572,0.013700,0.001002,0.014409,1.051733,1.0,0.000049,1.000719,0.052866,0.012185,0.000719,0.043790
236,(rolls/buns),(seasonal products),0.110005,0.007084,0.001002,0.009113,1.286395,1.0,0.000223,1.002048,0.250151,0.008636,0.002043,0.075311
237,(seasonal products),(rolls/buns),0.007084,0.110005,0.001002,0.141509,1.286395,1.0,0.000223,1.036698,0.224222,0.008636,0.035399,0.075311
238,(margarine),(chicken),0.032213,0.027869,0.001002,0.031120,1.116675,1.0,0.000105,1.003356,0.107962,0.016968,0.003345,0.033546
239,(chicken),(margarine),0.027869,0.032213,0.001002,0.035971,1.116675,1.0,0.000105,1.003899,0.107480,0.016968,0.003884,0.033546